/* styles/footer.css */

footer {
  background: var(--dark-gradient-bg);
  color: var(--font-color);
  padding: 20px 0;
  text-align: center;
  margin-top: 0px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: var(--font-color);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: var(--accent-color); /* Vivid Cerulean */
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: var(--font-color);
  font-size: 20px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: var(--accent-color);
}

.footer-bottom {
  margin-top: 10px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    gap: 20px;
  }

  .social-icons {
    justify-content: center;
  }
}
