@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* styles/colors.css */

/* Color Palette */
:root {
  --prim-color: #001f3f; /* Bright Primary Color */
  --sec-color: #634aa3; /* Purple Secondary Color */
  --accent-color: #bc74f7; /* Pink Accent Color */
  --bg-color: #ffffff; /* Bright Background Color */
  --neutral-color: #a0a7af; /* Bright Neutral Color */
  --neutral-light-color: #d4d4d4; /* Light Neutral Color */
  --font-color: #ffffff; /* Font Color */
  --dark-gradient-bg: linear-gradient(
    to right,
    var(--prim-color),
    var(--sec-color),
    var(--prim-color)
  );
  --light-gradient-bg: linear-gradient(
    to right,
    var(--sec-color),
    var(--accent-color),
    var(--sec-color)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: var(--accent-color);
  font-family: 'Poppins', sans-serif;
  hyphens: auto;

  /* Scrollbar Styles */
  scrollbar-width: thin;
  scrollbar-color: var(--prim-color) var(--bg-color);
}

body {
  background: var(--bg-color);
  color: var(--prim-color);
  width: 100%;
  background-image: url('../public/background_pattern.png') !important;
  background-position: center;
  background-size: contain;
}

main {
  min-height: 85vh;
}

button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  background: var(--prim-color);
  max-width: 250px;
  max-height: 70px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: var(--light-gradient-bg);
  color: var(--bg-color) !important;
}

button:active {
  translate: translateY(2px) !important;
}

.button {
  background: var(--sec-color);
  color: #ffffff;
}

.button:hover {
  background: var(--accent-color);
}

.card {
  background: #ffffff;
  border: 1px solid var(--neutral-color);
}

a {
  color: var(--accent-color);
}

.inline-span {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
}

footer {
  background: var(--prim-color);
  color: #ffffff;
}
