.checkoutContainer {
  padding: 20px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

.accessCodeContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  box-shadow: 2px 2px 5px 0 var(--neutral-color);
  background-color: var(--bg-color);
  border-radius: 10px;
}

.accessCodeContainer h2 {
  font-weight: bold;
  width: 100%;
  text-align: center;
  color: var(--prim-color);
}

.accessCodeContainer input {
  color: var(--neutral-color);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 2px 2px 3px 0 var(--neutral-color);
}

.accessCodeContainer button {
  width: calc(100% - 20px);
}

.accessCodeContainer .accessCodeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.accessCodeContainer .codeError {
  width: 100%;
  text-align: center;
}

.QrScanner {
  background-color: red;
  padding: 10px;
  max-width: calc(100% - 20px);
}

.QrReader {
  display: none;
}

.tripDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accessCodeForm {
  display: block;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.accessCodeForm button {
  width: 80%;
  padding: 5px;
  border-radius: 5px;
}
