.settingBtn {
  background: var(--prim-color);
  color: var(--bg-color);
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.userSettings {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.userSettings .userSetting {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: var(--bg-color);
}

.userSettings .userSetting .settingActions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.userSettings .userSetting .userSettingBlock p {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

.settingHeading {
  font-size: 22px;
  font-weight: 600;
  color: var(--prim-color);
}
